html, body, *
  margin 0
  padding 0
  font-family Microsoft YaHei
  font-size 18px
  box-sizing border-box

//项目统一设置
.pd
  padding 0 165px !important

.bg
  background-color #f5f5f5 !important

.pt-t
  padding-top: 50px !important





