//浮动
.clearfix:after, .clearfix:before
  content ""
  display table

.clearfix:after
  clear both

.clearfix
  zoom 1

.fl-l
  float: left

.fl-r
  float: right

//弹性布局
.flex
  display flex

.fl-1
  flex 1

.fl-2
  flex 2

.fl-3
  flex 3

.fl-4
  flex 4

.fl-5
  flex 5

//定位
.p-r
  position relative

.p-a
  position absolute

.p-f
  position fixed

//居中
.t-c
  text-align cneter

.center
  justify-content center
  align-items center

.p-center
  position absolute
  top 50%
  left 50%
  transform translate(-50% -50% 0)

//长宽
.w1
  width: 1%

.w5
  width: 5%

.w10
  width: 10%

.w20
  width: 20%

.w25
  width: 25%

.w50
  width: 50%

.w100
  width: 100%

.h1
  width: 1%

.h5
  width: 5%

.h10
  width: 10%

.h20
  width: 20%

.h25
  width: 25%

.h50
  width: 50%

.h100
  width: 100%

//背景
.bg-w
  background-color #fff












