//弹性布局
flex($num)
  flex $num

wd($width)
  flex
$TTT($H)
  height  $h


bg-img($url)
  background-image url($url)

  background-position top center
  background-origin top center
  background-repeat no-repeat
  background-size cover

bg-color($color)
  background-color $color

//变量
//导航首页
$navHeight = 100px

$hoverOPA = .7

$themColor = #31c27c


